.blockInput input, textarea{
    border-radius: 40px;
    outline: none;
    border: 1px solid var(--bg-blue);
    padding: 11.5px 20px;
}

.blockInput textarea{
    resize: none;
    min-height: 130px;
    border-radius: 20px;
}

.blockInput input::placeholder, textarea::placeholder{
    font-size: 14px;
    line-height: 1.36;
    color: var(--color-gray);
}


