.containerError{
    height: 12px;
}
.showErrorMessage{
    height: 12px;
    font-size: 11px;
    color: red; 
    display: flex;
    align-items: center;
    align-self: flex-end;
}

.checkbox{
    display: flex;
    margin-bottom: 14px;
    justify-content: center;
    font-size: 14px;
    column-gap: 8.69px;
    line-height: 1.55;
    padding: 0 11.5px;
    color: var(--color-dark);
}

.checkbox span{
    font-weight: 700;
}
